.page-wrapper {
    width: 100%;
    height: auto;
    
  }
  
  .nav-wrapper {
    width: 100%;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: #fff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  form{
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  


body {
    color: #282224;
    background-color: #BFAD54;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    

}
#muses-container{
   background-color: blanchedalmond;
   text-align: center;
   padding: 0px;
   margin: 0px;
}

img{
    width: 500px;
}

.muse-card {
    padding: 10px;
    margin: 0px;
}

h4{
    padding: 20px;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
  }
  
 
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    
  }
  
  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }

  .links{
    height:0;
    overflow: hidden;
    transition: var(--transition);
  }
  .hex-links{
    height:0;
    overflow: hidden;
    transition: var(--transition);
  }
  .show-links{
    height: 1.16rem;
  }
  .show-hexLinks{
    height: 1.16rem
  }

  .btn-color{
    background-color: #343A40;
    border-radius: 16px;
    color: #fff;
    cursor: pointer;
    padding: 12px 32px;
  }

  .btn-color:hover{
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation: slide 3s linear infinite;
  }

  @keyframes slide {
    to {
        background-position: 20vw;
    }
  }

  .container{
    text-align: center;
    bottom: 0px;
  }
  


